<%- include ../header %>

<h2><%= i18n.signupComplete.title %></h2>

<div class="well">
    <p><%= i18n.common.hello %> <%= firstName %>,</p>

    <p><%= i18n.signupComplete.tr1 %> <%= appName %>.</p>

    <% if (typeof password != 'undefined') { %>
        <p><%= i18n.signupComplete.tr2 %> <%= password %></p>
    <% } %>

    <p>
        <a href="<%= appURL %>"><%= appURL %></a>
    </p>

    <p>
        <%= i18n.common.signature1 %><br/>
        <%= i18n.common.signature2 %> <%=team%>.
    </p>
</div>